@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap");
@import "reveal.js/reveal.css";
@import "reveal.js/theme/black.css";

:root {
  --color-paper: #f4f0e8;
  --font: "Sometype Mono Variable", monospace;

  --radius: 8px;

  --r-background: #2a2a2a;
  --r-background-color: var(--r-background);

  --r-main-color: var(--color-paper);
  --r-heading-color: var(--color-paper);

  --r-main-font: var(--font);
  --r-heading-font: var(--font);
  --r-code-font: var(--font);
}

.dark {
  --color-background: #000;
  --color-foreground: var(--color-paper);
  --accent: #ff4081;
}

.reveal .slides {
  text-align: start;
  font-size: 32px;

  section:first-of-type {
    text-align: center;
  }

  #tipos-de-flags {
    width: 65vw;
    left: -20%;

    &,
    td {
      font-size: 0.6em !important;
    }
  }

  ul {
    display: block;
  }
}

.reveal ul {
  margin: auto;
}

.block {
  margin-top: 1rem;
}

.definition {
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--r-main-color);
  border-left: 4px solid var(--accent);
  border-radius: var(--radius);
  color: var(--r-background);

  &.with-highlights {
    p {
      margin: 0;
      line-height: 1.2;
    }

    span {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: -2px;
        left: -15px;
        width: 115%;
        height: 100%;
        opacity: 0.3;
        background-color: #e3f33c;
        border-radius: var(--radius);
      }
    }
  }
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.reveal pre {
  margin: 0;
  padding: 0.5rem;
  width: auto;
  box-shadow: none;
  font-size: 1rem;
}

.highlight-bg,
:has(> .highlight) {
  position: relative;
}

.highlight {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &::after {
    content: "";
    background-color: var(--accent);
    opacity: 0.2;
    position: absolute;
    top: -5%;
    left: -10px;
    width: calc(100% + 20px);
    height: 110%;
    border-radius: var(--radius);
  }

  &.fit::after {
    width: 100%;
    left: 0;
  }
}

.highlight-bg {
  background-color: color-mix(in srgb, var(--accent) 30%, transparent);
  border-radius: var(--radius);
  padding: 0.1rem 0.4rem;
}

.code-title {
  font-size: 0.5rem;
  color: var(--color-foreground);
  opacity: 0.7;
  text-align: start;
  margin-left: 20px;
}

.full-height {
  flex: 1;
}

.mermaid {
  width: 150%;
  margin-left: -27%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem 2rem;
}

table {
  font-size: 1.8rem;
}

.small {
  font-size: 0.8em;
  table {
    font-size: 0.8em !important;
  }
}
